<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Composer ma ratatouille</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <div class="banniere">
    <h1>🍲 Compose ta ratatouille maison !</h1>
  </div>

  {% if erreur %}
  <p style="color:red; text-align: center;">{{ erreur }}</p>
  {% endif %}

  <form method="POST" action="/compose" class="box">
    <h2>Choisis tes ingrédients :</h2>
    {% for ing in ingredients %}
      <label>
        <input type="checkbox" name="ingredients" value="{{ ing }}">
        {{ ajouter_emoji(ing, EMOJIS_INGREDIENTS) }}
      </label><br />
    {% endfor %}

    <button type="submit">Valider la sélection</button>
  </form>
</body>
</html>
