.banniere {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 12px 12px;
    margin-bottom: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.box {
    background: #f0f9ff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 700px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 90%;
    background-color: white;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #d6eaf8;
}
